@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Aclonica&family=Acme&family=Akaya+Telivigala&family=Alike+Angular&family=Almendra:ital,wght@0,700;1,700&family=Amarante&family=Amaranth:ital,wght@0,700;1,700&family=Arima+Madurai:wght@900&family=Averia+Serif+Libre:wght@700&family=Bangers&family=Bellota:wght@700&family=Bowlby+One+SC&family=Calistoga&family=Chango&family=Chicle&family=Cinzel+Decorative:wght@700;900&family=Coiny&family=Corben:wght@700&family=Croissant+One&family=Days+One&family=Eagle+Lake&family=Emilys+Candy&family=Expletus+Sans:wght@700&family=Fredericka+the+Great&family=Fredoka+One&family=Fugaz+One&family=Gabriela&family=Griffy&family=IM+Fell+English&family=IM+Fell+English+SC&family=Itim&family=Krona+One&family=Lakki+Reddy&family=Macondo+Swash+Caps&family=MedievalSharp&family=Metal+Mania&family=Milonga&family=Mirza:wght@700&family=Mystery+Quest&family=New+Rocker&family=Nunito:wght@200;300;400;600;700;900&family=Oleo+Script:wght@700&family=Original+Surfer&family=Otomanopee+One&family=Overlock:wght@900&family=Palanquin+Dark:wght@700&family=Paprika&family=Patua+One&family=Pirata+One&family=Rakkas&family=Rampart+One&family=Red+Rose:wght@700&family=Righteous&family=Rowdies:wght@700&family=Rum+Raisin&family=Salsa&family=Seymour+One&family=Shojumaru&family=Shrikhand&family=Sigmar+One&family=Smythe&family=Spicy+Rice&family=Stoke&family=Titan+One&family=Trade+Winds&family=Uncial+Antiqua&family=Vast+Shadow&family=Wendy+One&display=swap');

/*
font-family: 'ABeeZee', sans-serif;
font-family: 'Aclonica', sans-serif;
font-family: 'Acme', sans-serif;
font-family: 'Almendra', serif;
font-family: 'Amarante', cursive;
font-family: 'Amaranth', sans-serif;
font-family: 'Arima Madurai', cursive;
font-family: 'Averia Serif Libre', cursive;
font-family: 'Bangers', cursive;
font-family: 'Bellota', cursive;
font-family: 'Calistoga', cursive;
font-family: 'Chicle', cursive;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Croissant One', cursive;
font-family: 'Days One', sans-serif;
font-family: 'Emilys Candy', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Gabriela', serif;
font-family: 'Griffy', cursive;
font-family: 'IM Fell English', serif;
font-family: 'IM Fell English SC', serif;
font-family: 'Itim', cursive;
font-family: 'Krona One', sans-serif;
font-family: 'Lakki Reddy', cursive;
font-family: 'Macondo Swash Caps', cursive;
font-family: 'MedievalSharp', cursive;
font-family: 'Metal Mania', cursive;
font-family: 'Milonga', cursive;
font-family: 'Mirza', cursive;
font-family: 'Mystery Quest', cursive;
font-family: 'New Rocker', cursive;
font-family: 'Oleo Script', cursive;
font-family: 'Original Surfer', cursive;
font-family: 'Otomanopee One', sans-serif;
font-family: 'Overlock', cursive;
font-family: 'Palanquin Dark', sans-serif;
font-family: 'Paprika', cursive;
font-family: 'Patua One', cursive;
font-family: 'Pirata One', cursive;
font-family: 'Rakkas', cursive;
font-family: 'Rampart One', cursive;
font-family: 'Red Rose', cursive;
font-family: 'Righteous', cursive;
font-family: 'Rowdies', cursive;
font-family: 'Rum Raisin', sans-serif;
font-family: 'Salsa', cursive;
font-family: 'Seymour One', sans-serif;
font-family: 'Shojumaru', cursive;
font-family: 'Shrikhand', cursive;
font-family: 'Sigmar One', cursive;
font-family: 'Smythe', cursive;
font-family: 'Spicy Rice', cursive;
font-family: 'Stoke', serif;
font-family: 'Titan One', cursive;
font-family: 'Trade Winds', cursive;
font-family: 'Uncial Antiqua', cursive;
font-family: 'Vast Shadow', cursive;
font-family: 'Wendy One', sans-serif;
*/

/*font-family: 'Cinzel Decorative', cursive;*/
/*font-family: 'Emilys Candy', cursive;*/
/*font-family: 'Fredericka the Great', cursive;*/
/*font-family: 'Metal Mania', cursive;*/
/*font-family: 'Milonga', cursive;*/

body {
	background: hsl(108, 86%, 20%);
	overflow: hidden;
	margin: 0;
	font-family: 'Mirza', cursive;
}

* {
	margin: 0;
    padding: 0;
	box-sizing: border-box;
}

.navbar-brand {
	filter: drop-shadow(0 0 0.1rem black) drop-shadow(0 0 0.1rem black);
}

.navbar-nav .nav-item a {
	color: #FFD221;
	text-shadow: 0 0 0.1rem black,
		0 0 0.1rem black,
		0 0 0.1rem black;
}

.nav-link {
	font-family: 'Nunito', sans-serif;
	font-size: xx-large;
}

.bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url('../images/lokis.jpg');
	animation: fade 6s steps(30) forwards;
}

#retrigger--1:checked~.bg {
	animation-name: fade--1;
}

#retrigger--2:checked~.bg {
	animation-name: fade--2;
}

@keyframes fade--1 {
	0% {
		background-position: 0 0;
		opacity: 1;
	}

	50% {
		background-position: 2000% 2000%;
		opacity: 0.6;
	}

	100% {
		background-position: -2000% -2000%;
		opacity: 0;
	}
}

@keyframes fade--2 {
	0% {
		background-position: 0 0;
		opacity: 1;
	}

	50% {
		background-position: 2000% 2000%;
		opacity: 0.6;
	}

	100% {
		background-position: -2000% -2000%;
		opacity: 0;
	}
}

.pane {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scaleY(1.3);
	perspective: 700px;
}

.rotate {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate3d(1, -1, 0, 40deg) scale(2);
	transform-style: preserve-3d;
	animation: rotate 6s 2s forwards;
}

#retrigger--1:checked~.pane .rotate {
	animation-name: rotate--1;
}

#retrigger--2:checked~.pane .rotate {
	animation-name: rotate--2;
}

@keyframes rotate--1 {
	0% {
		transform: translate(-50%, -50%) rotate3d(1, -1, 0, 40deg) scale(2);
	}

	50% {
		transform: translate(-50%, -50%) rotate3d(0, 0, 0, 0deg) scale(1.1);
	}

	100% {
		transform: translate(-50%, -50%) rotate3d(0, 0, 0, 0deg) scale(1);
	}
}

@keyframes rotate--2 {
	0% {
		transform: translate(-50%, -50%) rotate3d(1, -1, 0, 40deg) scale(2);
	}

	50% {
		transform: translate(-50%, -50%) rotate3d(0, 0, 0, 0deg) scale(1.1);
	}

	100% {
		transform: translate(-50%, -50%) rotate3d(0, 0, 0, 0deg) scale(1);
	}
}

.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform-style: preserve-3d;
	transform: translate(-50%, -50%);
	font-size: 9em;
	/*letter-spacing: -0.06em;*/
	animation: hide 8s linear forwards;
	padding: 0.2em;
	line-height: 0.9;
	/*border: 0.02em solid black;*/
}

#retrigger--1:checked~.pane .logo {
	animation-name: hide--1;
}

#retrigger--2:checked~.pane .logo {
	animation-name: hide--2;
}

.logo:nth-child(1) {
	animation: change 8s steps(30) forwards;
	background: url('../images/lokis.jpg');
	background-size: 2000px auto;
	-webkit-background-clip: text;
	-webkit-filter: drop-shadow(0 -1px 0 black) drop-shadow(0 1px 0 black) drop-shadow(1px 0 0 black) drop-shadow(-1px 0 0 black);
	color: transparent;
}

#retrigger--1:checked~.pane .logo:nth-child(1) {
	animation-name: change--1;
}

#retrigger--2:checked~.pane .logo:nth-child(1) {
	animation-name: change--2;
}

.logo:nth-child(2) {
	transform: translate3d(-50%, -50%, -2px);
}

.logo:nth-child(3) {
	transform: translate3d(-50%, -50%, -3px);
}

.logo:nth-child(4) {
	transform: translate3d(-50%, -50%, -4px);
}

.logo:nth-child(5) {
	transform: translate3d(-50%, -50%, -5px);
}

.logo:nth-child(6) {
	transform: translate3d(-50%, -50%, -6px);
}

.logo:nth-child(7) {
	transform: translate3d(-50%, -50%, -7px);
}

.logo:nth-child(8) {
	transform: translate3d(-50%, -50%, -8px);
}

.logo:nth-child(9) {
	transform: translate3d(-50%, -50%, -9px);
}

.logo:nth-child(10) {
	transform: translate3d(-50%, -50%, -10px);
}

.logo:nth-child(11) {
	transform: translate3d(-50%, -50%, -11px);
}

.logo:nth-child(12) {
	transform: translate3d(-50%, -50%, -12px);
}

.logo:nth-child(13) {
	transform: translate3d(-50%, -50%, -13px);
}

.logo:nth-child(14) {
	transform: translate3d(-50%, -50%, -14px);
}

.logo:nth-child(15) {
	transform: translate3d(-50%, -50%, -15px);
}

.logo:nth-child(16) {
	transform: translate3d(-50%, -50%, -16px);
}

.logo:nth-child(17) {
	transform: translate3d(-50%, -50%, -17px);
}

.logo:nth-child(18) {
	transform: translate3d(-50%, -50%, -18px);
}

.logo:nth-child(19) {
	transform: translate3d(-50%, -50%, -19px);
}

.logo:nth-child(20) {
	transform: translate3d(-50%, -50%, -20px);
}

@keyframes hide--1 {
	0% {
		visibility: visible;
		opacity: 1;
	}

	100% {
		visibility: hidden;
		opacity: 0;
	}
}

@keyframes hide--2 {
	0% {
		visibility: visible;
		opacity: 1;
	}

	100% {
		visibility: hidden;
		opacity: 0;
	}
}

@keyframes change--1 {
	0% {
		background-position: 0 0;
		color: rgba(150, 150, 0, 0.4);
		-webkit-filter: drop-shadow(0 -1px 0 black) drop-shadow(0 1px 0 black) drop-shadow(1px 0 0 black) drop-shadow(-1px 0 0 black);
		border-color: black;
	}

	50% {
		background-position: 200% 200%;
		color: rgba(150, 150, 0, 0.4);
		-webkit-filter: drop-shadow(0 -1px 0 black) drop-shadow(0 1px 0 black) drop-shadow(1px 0 0 black) drop-shadow(-1px 0 0 black);
		border-color: #FFD221;
	}

	100% {
		background-position: -200% -200%;
		color: #FFD221;
		-webkit-filter: drop-shadow(0 0 0 black) drop-shadow(0 0 0 black) drop-shadow(0 0 0 black) drop-shadow(0 0 0 black);
		border-color: #FFD221;
	}
}

@keyframes change--2 {
	0% {
		background-position: 0 0;
		color: rgba(150, 150, 0, 0.4);
		-webkit-filter: drop-shadow(0 -1px 0 black) drop-shadow(0 1px 0 black) drop-shadow(1px 0 0 black) drop-shadow(-1px 0 0 black);
		border-color: black;
	}

	50% {
		background-position: 200% 200%;
		color: rgba(150, 150, 0, 0.4);
		-webkit-filter: drop-shadow(0 -1px 0 black) drop-shadow(0 1px 0 black) drop-shadow(1px 0 0 black) drop-shadow(-1px 0 0 black);
		border-color: #FFD221;
	}

	100% {
		background-position: -200% -200%;
		color: #FFD221;
		-webkit-filter: drop-shadow(0 0 0.1rem black) drop-shadow(0 0 0 black) drop-shadow(0 0 0 black) drop-shadow(0 0 0 black);
		border-color: #FFD221;
	}
}

.retrigger {
	position: absolute;
	left: -5em;
	opacity: 0;
}

@keyframes buttons--1 {

	0%,
	99% {
		visibility: hidden;
	}

	100% {
		visibility: visible;
	}
}

@keyframes buttons--2 {

	0%,
	99% {
		visibility: hidden;
	}

	100% {
		visibility: visible;
	}
}

.buttons {
	position: absolute;
	z-index: 3;
	top: 1em;
	left: 50%;
	width: 10em;
	margin-left: -5em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	cursor: pointer;
	user-select: none;
	animation: button 8s linear;
}

#retrigger--1:checked~.buttons {
	animation-name: buttons--1;
}

#retrigger--2:checked~.buttons {
	animation-name: buttons--2;
}

.buttons .button {
	padding: 0.3em 1em;
	color: black;
	font-size: 1.3em;
	display: none;
	cursor: pointer;
	border: 2px solid black;
}

.buttons .button:hover {
	color: white;
	background: black;
}

#retrigger--2:checked~.buttons .button--1 {
	display: block;
}

#retrigger--1:checked~.buttons .button--2 {
	display: block;
}