@import url('https://fonts.googleapis.com/css2?&family=Nunito:wght@200;300;400;600;700;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
	margin: 0;
    padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	overflow: hidden;
	margin: 0;
	font-family: 'Nunito', sans-serif;
}

.navbar-brand {
	filter: drop-shadow(0 0 0.1rem black) drop-shadow(0 0 0.1rem black);
}

.navbar-nav .nav-item a {
	color: #FFD221;
	text-shadow: 0 0 0.1rem black,
				 0 0 0.1rem black,
				 0 0 0.1rem black;
}

.nav-link {
	font-size: xx-large;
}


:root {
  --curve: 40;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
  gap:2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card-image{
  width:100%;
  height:auto;
}

.card_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card_overlay {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.card-header{
  position: relative;
  display:flex;
  align-items: center;
  gap:2rem;
  border-radius: calc(var(--curve) * 1px) 0 0 0; 
  background-color:#cfc6c7;
  padding:2em;
  transform: translateY(-100%); 
  transition: 0.2s ease-in-out; 

}

.card-arc{
  width:5em;
  height:5em;
  position:absolute;
  bottom:100%;
  right:0;
  z-index: 1;
}

.card-arc path{
  fill:var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card-header{
  transform: translateY(0);  
}

.card-thumb{
  flex-shrink: 0;
  width:3.125em;
  height:3.125em;
  border-radius: 50%;
}

.card-title{
  font-size: 1.3rem;
  margin:0 0 0.3em;
  color: #52b17a;
}

.card-description {
  padding-bottom: 10rem;
  margin:0;
  color: #bb4b1b;
  display:-webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: center;
  background-color: #cfc6c7;
  font-weight: bold;
  font-size: 18px;
}